<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a routerLink="/home" routerLinkActive="active" class="header-nav__link">Главная</a>
      <a routerLink="/create-notice" routerLinkActive="active" class="header-nav__link">Создать запись</a>
      <a routerLink="/notices" routerLinkActive="active" class="header-nav__link">Записи</a>
    </nav>
    <div class="header-control">
      <div class="toggle-switch">
        <mat-icon class="toggle-icon"> light_mode </mat-icon>
        <mat-slide-toggle> </mat-slide-toggle>
        <mat-icon class="toggle-icon"> dark_mode </mat-icon>
      </div>
      <div>
        <span class="header-nav__link">Вход</span>
      </div>
    </div>
  </div>
</header>
