<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a routerLink="/home" routerLinkActive="active" class="header-nav__link">Главная</a>
      <a routerLink="/create-notice" routerLinkActive="active" class="header-nav__link">Создать запись</a>
      <a routerLink="/notices" routerLinkActive="active" class="header-nav__link">Записи</a>
    </nav>
    <div class="header-control">
      <div class="toggle-switch">
        <mat-icon class="toggle-icon"> light_mode </mat-icon>
        <mat-slide-toggle> </mat-slide-toggle>
        <mat-icon class="toggle-icon"> dark_mode </mat-icon>
      </div>
      <div *ngIf="!isLoginPage && !user">
        <span class="header-nav__link">
          <a routerLink="/auth/login" routerLinkActive="active" class="header-nav__link">Вход</a>
        </span>
      </div>
      <div *ngIf="!isLoginPage && user">
        <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
