<div class="notice__container">
  <mat-card class="notice-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{notice.title}}</mat-card-title>
      <mat-card-subtitle>{{notice.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{notice.description}}
        seconder
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
