<div class="main-container">
  <h1 class="main-heading">Блокнотик</h1>
  <p class="main-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptatum vitae qui magnam sint saepe, illum numquam cumque dicta voluptatibus ipsam voluptates consequuntur accusantium quas quibusdam aliquam quos deleniti maxime.</p>
  <p class="main-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptatum vitae qui magnam sint saepe, illum numquam cumque dicta voluptatibus ipsam voluptates consequuntur accusantium quas quibusdam aliquam quos deleniti maxime.</p>
  <p class="main-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptatum vitae qui magnam sint saepe, illum numquam cumque dicta voluptatibus ipsam voluptates consequuntur accusantium quas quibusdam aliquam quos deleniti maxime.</p>
</div>
